<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key><string>GetDP</string>
    <key>CFBundleExecutable</key><string>GetDP</string>
    <key>CFBundlePackageType</key><string>FMWK</string>
    <key>CFBundleVersion</key><string>GETDP_VERSION</string>
    <key>CFBundleSignature</key><string>GETDP</string>
    <key>CFBundleIdentifier</key><string>org.geuz.GetDP</string>
  </dict>
</plist>
